html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: white;
  margin: 0px;
}

main {
  padding-right: 3.5vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;
  padding-top: 0;
}

header {
  text-align: center;
  background-color: white;
  padding-top: 40px;
  border-radius: 9px;
}

header h1 {
  color: black;
  margin: 0px;
  font-size: 45px;
}

header h4 {
  color: #ff6e6c;
  margin: 3px;
}

h3 {
  color: black;
}

.card {
  text-align: left;
  background-color: white;
  color: black;
  border-radius: 9px;
}

.card a {
  font-size: 13px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #e2b6f0;
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

a,
a:hover,
a:visited {
 color: #ff6e6c;
}

@media (prefers-color-scheme: dark) {
  body {
  background-color: black;
  margin: 0px;
}

header {
  text-align: center;
  background-color: black;
  padding-top: 40px;
  border-radius: 9px;
}

header h1 {
  color: white;
  margin: 0px;
  font-size: 45px;
}

header h4 {
  color: #e2b6f0;
  margin: 3px;
}

h3 {
  color: white;
}

.card {
  text-align: left;
  background-color: black;
  color: white;
  border-radius: 9px;
}
  a,
  a:hover,
  a:visited {
    color: #e2b6f0;
  }
}

.blogttl {
  font-size: 17px;
}

.blogcnt {
  font-style: italic;
}

.ff {
  opacity: 0.6;
  font-size: 13px;
}